


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .reach-me .contact .contact-title,
    .site-main .reach-me .contact .contact-title p, h4,
    .site-main .services-area,
    .site-main .reach-me .contact
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 41px;
    }
    .hero-logo{
        padding-left: -20px !important; 
    }
    .site-main .reach-me .contact form .input-textbox input{
        width: 10rem    !important;
    }
    .kontact{
        color: var(--title-color) !important;
    }
    .contact-inputs{
        width: 100%  !important; 
        
    }
    .btn-submit{
        margin-left: -40px !important;
    }

    .site-main > .services-area .services{
        width: 13rem;
    }
    .para-text{
        width: 130%;
    }
    .copyright{
        text-align: center;
    }
    .hero-img2{
        height: 400px;
        width: 350px;
        margin-left: -5px;
    }
    .navbar-toggler{
        margin-right: 10px !important;
    }
    .site-title{
        margin-right: 30px;
    }
    .skills-area{
        width: 120%;
        margin-left: -4.3rem;
    }
    .skills_details {
        padding: 10px 0px;
    }
    .skills-area h1{
        font-size: 22px;
    }
    
}


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px){
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
        margin-left: 15px;
    }


    .site-main .brand-area .experience-area .call-area{
        padding-left: 3%;
    }

    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--roboto);
    }

    .site-main .about-area .about-title p{
        padding: 0%;
    }

    .site-main .reach-me .contact form .input-textbox input{
        width:18rem;
    }
    .contact-inputs{
        margin-left: auto !important;
    }
    .btn-submit{
        margin-right: auto !important;
        margin-top: 10px;
    }
    .banner-image{
        visibility: hidden;
    }
    .para-text{
        width: 140%;
        margin-left: 15px;
    }
    .navbar-brand ,.hero-logo{
        margin-left: -70px !important;
    }
    .navbar-toggler{
        margin-right: 70px;
    }
    .site-title{
        margin-right: 50px;
    }
    .skills-area{
        width: 90%;
        margin-left: 40px ;
    }
    .skills_details {
        padding: 10px 0px;
    }
    .skills-area h1{
        font-size: 22px;
    }
}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }


}